In [1]:
import country_converter as coco
import pandas as pd

In [2]:
df = pd.read_pickle(os.path.join('dataframes_pkl', 'df_global_format.pkl'))
unicos = list(df['Area'].unique())
unicos.sort()

In [3]:
converter = coco.CountryConverter()
continentes = converter.convert(unicos, to = 'continent')
continentes = list(map(lambda x: x[0] if type(x) is list else x, continentes))
continentes

More then one regular expression match for China, Taiwan Province of
More then one regular expression match for China, Taiwan Province of
More then one regular expression match for China, Taiwan Province of
More then one regular expression match for China, Taiwan Province of
More then one regular expression match for China, Taiwan Province of
More then one regular expression match for China, Taiwan Province of
More then one regular expression match for China, Taiwan Province of
More then one regular expression match for China, Taiwan Province of
More then one regular expression match for China, Taiwan Province of
More then one regular expression match for China, Taiwan Province of
More then one regular expression match for China, Taiwan Province of
More then one regular expression match for China, Taiwan Province of
More then one regular expression match for China, Taiwan Province of
More then one regular expression match for China, Taiwan Province of
More then one regular expression match for China, Taiwan Province of
More then one regular expression match for China, Taiwan Province of
More then one regular expression match for China, Taiwan Province of
More then one regular expression match for China, Taiwan Province of
More then one regular expression match for China, Taiwan Province of
More then one regular expression match for China, Taiwan Province of
More then one regular expression match for China, Taiwan Province of
More then one regular expression match for China, Taiwan Province of
More then one regular expression match for China, Taiwan Province of
More then one regular expression match for China, Taiwan Province of
More then one regular expression match for China, Taiwan Province of
More then one regular expression match for China, Taiwan Province of
More then one regular expression match for China, Taiwan Province of
More then one regular expression match for China, Taiwan Province of
More then one regular expression match for China, Taiwan Province of
More then one regular expression match for China, Taiwan Province of
More then one regular expression match for China, Taiwan Province of
More then one regular expression match for China, Taiwan Province of

['Asia',
 'Europe',
 'Africa',
 'America',
 'America',
 'Asia',
 'Oceania',
 'Europe',
 'Asia',
 'America',
 'Asia',
 'America',
 'Europe',
 'Europe',
 'America',
 'Africa',
 'America',
 'Europe',
 'Africa',
 'America',
 'Europe',
 'Africa',
 'Africa',
 'Asia',
 'Africa',
 'America',
 'Africa',
 'America',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'America',
 'Africa',
 'Africa',
 'America',
 'Europe',
 'America',
 'Asia',
 'Europe',
 'Africa',
 'Africa',
 'Europe',
 'Africa',
 'America',
 'America',
 'Africa',
 'America',
 'Europe',
 'Africa',
 'Africa',
 'Oceania',
 'Europe',
 'Europe',
 'Oceania',
 'Africa',
 'Africa',
 'Asia',
 'Europe',
 'Africa',
 'Europe',
 'America',
 'America',
 'Africa',
 'America',
 'America',
 'Europe',
 'Europe',
 'Asia',
 'Asia',
 'Asia',
 'Europe',
 'Asia',
 'Europe',
 'America',
 'Asia',
 'Asia',
 'Asia',
 'Africa',
 'Oceania',
 'Asia',
 'Asia',
 'Europe',
 'Asia',
 'Europe',
 'Europe',
 'Africa',
 'Africa',
 'Asia',
 'Asia',
 'Africa',
 'Europe',
 'Africa',
 'Africa',
 'America',
 'Asia',
 'Europe',
 'Africa',
 'Africa',
 'Asia',
 'Europe',
 'Oceania',
 'Oceania',
 'America',
 'Africa',
 'Africa',
 'Europe',
 'Europe',
 'Asia',
 'Asia',
 'America',
 'Oceania',
 'America',
 'America',
 'Asia',
 'Europe',
 'Europe',
 'Asia',
 'Europe',
 'Europe',
 'Europe',
 'Africa',
 'America',
 'America',
 'America',
 'Africa',
 'Asia',
 'Africa',
 'Europe',
 'Africa',
 'Africa',
 'Europe',
 'Europe',
 'Oceania',
 'Africa',
 'Europe',
 'Asia',
 'America',
 'Europe',
 'Europe',
 'Asia',
 'Africa',
 'America',
 'Africa',
 'Asia',
 'Africa',
 'Europe',
 'Asia',
 'Europe',
 'Europe',
 'Africa',
 'America',
 'America',
 'Oceania',
 'America',
 'Asia',
 'Africa',
 'Africa']

In [4]:
# pd.DataFrame(zip(unicos, continentes), columns = ['Area', 'Continent']).to_pickle(os.path.join('dataframes_pkl', 'df_continentes.pkl'))

In [5]:
continent_df = pd.DataFrame(zip(unicos, continentes), columns = ['Area', 'Continent'])

In [11]:
pd.merge(df.set_index('Area'), continent_df, how = 'left', left_index = True, right_on = 'Area').set_index('Area')

,Area Code,Partner Country Code,Partner Countries,Item Code,Item,Element Code,Element,Year,Unit,Value,Continent
Area,,,,,,,,,,,
Afghanistan,2,4,Algeria,230,"Cashew nuts, shelled",5910,Export Quantity,2016,tonnes,3.00,Asia
Afghanistan,2,4,Algeria,230,"Cashew nuts, shelled",5922,Export Value,2016,1000 US$,23.00,Asia
Afghanistan,2,9,Argentina,56,Maize,5610,Import Quantity,2017,tonnes,130.00,Asia
Afghanistan,2,9,Argentina,56,Maize,5622,Import Value,2017,1000 US$,68.00,Asia
Afghanistan,2,9,Argentina,1058,"Meat, chicken",5610,Import Quantity,2014,tonnes,974.00,Asia
...,...,...,...,...,...,...,...,...,...,...,...
Zimbabwe,181,251,Zambia,388,Tomatoes,76610,Import Production Emissions Quantity,2016,tonnes CO2,0.00,Africa
Zimbabwe,181,251,Zambia,388,Tomatoes,76610,Import Production Emissions Quantity,2017,tonnes CO2,2.09,Africa
Zimbabwe,181,251,Zambia,15,Wheat,76610,Import Production Emissions Quantity,2014,tonnes CO2,12560.00,Africa
Zimbabwe,181,251,Zambia,564,Wine,76610,Import Production Emissions Quantity,2014,tonnes CO2,0.00,Africa
Zimbabwe,181,251,Zambia,564,Wine,76610,Import Production Emissions Quantity,2017,tonnes CO2,0.00,Africa